.cardContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
 .wordsCount{
  padding: 10px;
  background-color: #f8f8fa;
  border-radius: 9%;
  color: #883a94;
  }
  .oneCard {
    display: flex;
    align-items: center;
  }
  .numberCard {
    padding: 10px;
    background-color: #f8f8fa;
    border-radius: 9%;
    color: #883a94;
  }
}
