.row {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &-input,
  &-word {
    height: 25px;
    width: 150px;
    text-align: center;
    background-color: rgb(243, 243, 243);
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
