
.App{
  width: 100%;
}
.App-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}