.footer {
  background-color: #f8f8fa;
  color: #883a94;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 20px;
  align-items: center;
  height: 70px;
  .text {
    padding-right: 90px;
  }
}
