.footer {
  background-color: #f8f8fa;
  color: #883a94;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  height: 70px;
  .year {
    padding-left: 90px;
  }
  .text {
    padding-right: 90px;
    padding-left: 90px;
  }
  @media (max-width: 600px) {
    display: flex;
  }
}
